table {
  td, th {
    color: $gray-10;
    border: 1px solid $color-border;
    text-align: left;
    padding: var(--space-xs) var(--space-sm);
  }

  tr:nth-child(even) {
    background: $gray-1;
  }
}
